*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #fff;
    width: 300px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}
.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
}
.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;

}
.logo span{
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;   
}
li{
    margin: 10px;
}
.btn:hover{
    background-color: #eee;
    cursor: pointer;
}
 .fas{
    position: relative;
    width: 70px;
    height: 40px;
    font-size: 20px;
    text-align: center;

 }
 .nav-item{
    position: relative;
    top: -5px;
    margin-left: 10px;
 }
 .nav-item-label{
    position: relative;
    top: -8px;
    margin-left: 10px;
 }
 hr{
    margin: 15px;
 }
